@import (reference) "../../react_core/css/variables.less";
@import (reference) "../../react_core/css/base.less";
@import (reference) "../../react_core/css/text.less";

@import "../../common/css/carousel.less";

.home-page {
    .page-content {
        .coming-soon-banner {
            background: url("/img/comingsoon.png");
        }

        .carousel-item {
        	width: 400px;

        	img {
        		width: 400px;
        	}
        }
    }
}