@import (reference) "../../react_core/css/variables.less";
@import (reference) "../../react_core/css/base.less";
@import (reference) "../../react_core/css/text.less";

@import "../../common/css/carousel.less";

.home-page {
    max-width: 1280px;
    margin: 0 auto;

    .page-content {
        .coming-soon-banner {
            background: url("/img/carousel/1.jpg");
            height: 400px;
            background-size: cover;
            background-position: 0;
            color: #FFF;
            text-align: center;

            .first-line {
                font-size: 35px;
            }

            .second-line {
                font-size: 25px;
            }
        }

        .carousel {
            margin-top: 10px;
        }

        .carousel-item {
        	img {
        		width: 300px;
        	}
        }
    }
}