@import (reference) "base.less";

header {
	color: #000;
	text-align: initial;
	padding: 5px 10px;
	background: #F1F196;
	
	.header-cntnt {
		max-width: 1280px;
		margin: 0 auto;

		div {
			display: inline-block;
		}

		.contact-info {
			float: right;
		}
	}

	
}

